wordcloud          1.9.4
PyMySQL            1.1.1
pillow             11.0.0
numpy              1.26.4
matplotlib         3.9.0
reportlab          4.2.5
html2image         2.0.5
pandas             2.2.3
searborn           0.13.2
