wordcloud          1.9.4
PyMySQL            1.1.1
pillow             11.0.0
numpy              1.26.4
matplotlib         3.9.0
reportlab          4.2.5
html2image         2.0.5
pandas             2.2.3
searborn           0.13.2



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    :root {
      --color-primary-blue: #2c3e50;
      --color-accent-blue: #3498db;
      --color-background: #f8f9fa;
      --color-text-dark: #2c3e50;
      --color-text-light: #ffffff;
      --color-highlight: #e74c3c;
      --color-border: #24a853;
      --color-coropo2: #9dd33e;
      --color-corpo1: #16c263;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      background-color: var(--color-background);
      color: var(--color-text-dark);
      line-height: 1.6;
      background-color: #e5ffe1;
    }
    .dashboard {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      flex-direction: column;
    }

    .header-container {
      display: flex;
      align-items: center;
      background: linear-gradient(
        135deg,
        var(--color-corpo1) 0%,
        var(--color-coropo2) 100%
      );
      padding: 1rem; /* Adjusted from 1.5rem to reduce height */
      margin-bottom: 1rem;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      position: relative;
      overflow: hidden;
      height: 15%;
    }

    .header-container::before {
      content: "";
      position: absolute;
      top: -50%;
      right: -50%;
      width: 200%;
      height: 200%;
      background: rgba(255, 255, 255, 0.1);
      transform: rotate(-45deg);
    }

    .logo {
      width: 120px;
      height: 120px;
      object-fit: contain;
      margin-right: 2rem;
    }

    .header {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .header h1 {
      font-weight: 400;
      font-size: 2rem;
      color: var(--color-text-light);
      margin-bottom: 0.2rem;
      margin-top: 1%;
      position: relative;
      display: inline-block;
    }

    .header .subtitle {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem;
      font-weight: 300;
    }

    .header h1::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 60%;
      height: 4px;
      background-color: var(--color-highlight);
      border-radius: 2px;
    }
    .img_estandar{
        object-fit: contain;
        width: 100%;
        height: 100%"
    }
  </style>
  <body>
    <!--Imagen oculta -->
    <img
      src="https://cdn-icons-png.freepik.com/256/10042/10042887.png?semt=ais_hybrid"
      alt=""
      style="width: 1px; height: 1px; visibility: hidden"
    />
    <img
      src="https://media.istockphoto.com/id/1151557689/vector/vector-image-of-a-flat-isolated-icon-dollar-sign-currency-exchange-dollar-united-states.jpg?s=1024x1024&w=is&k=20&c=wtyPBkx4KX1U_CcsRuFH23hbLogVVWYioJzDXbk30Y8=23Trr"
      alt=""
      style="width: 1px; height: 1px; visibility: hidden"
    />

    <div class="dashboard">
      <div class="header-container">
        <img src="https://storage.googleapis.com/attachments-servimax-isa/servimaxHomePage/logo2.0.png" alt="Servimax Logo"class="logo"/>
        <div class="header">
          <h1>SUPER DE ALIMENTOS</h1>
          <div class="subtitle">
            Análisis Integral de Rendimiento Corporativo
          </div>
        </div>
      </div>

      <div class="row-1" style="padding:2px;">
          <div class="chart-head" style="border: solid red; width: 650px; height: 430px; overflow: hidden;display:inline-block">
                <img src="/resource/img/Temporal/tabal_caliente.png" alt="" 
              style="object-fit: fill; width: 100%; height: 100%"/>
          </div>
          <div class="" style="border:solid blue;height: 430px; width: 632px;overflow: hidden; display:inline-block;">
            <img src="/resource/img/Temporal/charpie_fuente.png" alt=""  class="img_estandar"/> 
          </div>
      </div>
      <div class="row-2">
        <div class="chart-r2" style="" ></div>
        <div class="chart-r2"></div>
      </div>
    </div>
  </body>
</html>
